<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat app</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>

    <div class="container">
        <div class="head-part">
            <i class="fa-solid fa-message"></i>
            <h4>wassup</h4>
        </div>
        <div class="chat-box">
          
           
        </div>
        <form action="" >
            <input type="text" placeholder="type message here..." id="message-input">
            <input type="submit" id="send" value="send">
        </form>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>